@import "colors.css";
@import "variables.css";
@import "media-queries.css";

.list-item {
  width: 25%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  line-height: 19px;
  font-size: 16px;
  color: var(--blackish);
  transition: all 400ms;
}

.preview {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.preview-image {
  max-width: 100%;
  height: auto;
}

.text-block {
  text-align: left;
  height: 149px;
  position: relative;
}

.title {
  composes: title-devider from 'ui/css/layout.css';
  margin-top: 6px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-blackish);
  font-family: var(--font-playfair);
  letter-spacing: 0.7px;
  white-space: pre-line;
  overflow: hidden;
  line-height: 27px;
  min-height: 74px;
  position: relative;
  padding-bottom: 20px;

  &:after {
    bottom: 0;
    position: absolute;
  }

  & a {
    text-decoration: none;
  }
}

.line {
  width: 48px;
  height: 1px;
  border-top: solid 1px #3e3436;
}

.price-line {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.price {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-main);
  opacity: 0.74;
  letter-spacing: 1.5px;
}

.on-sale-price,
.retail-price {
  display: block;
}

.on-sale-price {
  color: var(--text-color-on-sale);
}

.retail-price {
  text-decoration: line-through;
}

@media (--small-only) {
  .list-item {
    width: 50%;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .title {
    font-weight: 400;
    font-size: 15px;
    color: var(--dark-blackish);
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    font-size: 13px;
    letter-spacing: 0px;
  }

  .retail-price {
    margin-right: 0;
  }
}

@media (--medium-only) {
  .list-item {
    width: 50%;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .title {
    font-size: 20px;
    letter-spacing: 0.7px;
  }
}

@media (--medium) {
  .on-sale-price,
  .retail-price {
    display: inline-block;
  }

  .retail-price {
    margin-right: 0;
  }
}

@media (--large), (--x-large) {
  .title {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    min-height: 52px;
    padding-bottom: 12px;
    letter-spacing: 0.52px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    font-size: 15px;
    letter-spacing: 0px;
  }
}
