@import "colors.css";

.editable-block {
  width: 100%;
}

.header {
  display: flex;
}

.title {
  flex-grow: 1;
  margin: 0;
  text-transform: uppercase;
}

.edit {
  color: #9E9E9E;
  text-align: right;
  cursor: pointer;
}
