@import "css/variables.css";
@import "css/media-queries.css";
@import "css/colors.css";

.list-wrapper, .list-wrapper-small {
  position: relative;
}

.list-wrapper-small{
  lost-column: 10/12;
  lost-offset: -1/12;
}

.list-wrapper{
}

.list-wrapper-small {
  padding-bottom: 45px;
  background: #fff;
}

.loading-wrapper {
  background: rgba(235, 234, 234, 0.5);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 20px;
}

.loader {
  position: fixed;
  width: 100%;
  top: 206px;
  left: 0;
}

.title {
  display: block;
  padding-top: 68px;
  margin: 0;
  font-family: var(--font-playfair);
  text-align: center;
  width: 100%;
  font-size: 31px;
  text-align: center;
  color: var(--additional-color);

  &::after {
    content: '';
    display: block;
    width: 66px;
    height: 1px;
    margin: 10px auto 0;
    background-color: var(--additional-color);
  }
}

.list {
  margin-top: 97px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -18px !important;
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--large) {
  .title {
    font-size: 42px;
  }
}

@media (--small-only) {
  .list {
    margin-top: 50px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 5px;
  }
  .list-wrapper-small,
  .list-wrapper{
    lost-column: 12/12;
  }
}

@media (--medium-only) {
  .list {
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
}
