/*
 This file only extends base class which defined in evil-icons node package
*/

:global(.icon--fc-logo) {
  width: 120px;
  height: 56px;
  stroke: none;
}

@media (--large) {
  :global(.icon--fc-logo) {
    width: 150px;
    height: 74px;
  }
}
