@import "media-queries.css";

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.forms {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  counter-reset: item;
  margin-top: 393px;
  margin-bottom: 100px;

  &._without-banner {
    margin-top: 327px;
  }
}

@media (--large) {
  .auth-block {
    lost-column: 3/12;
    margin: 0;
  }

  .auth-block:first-child {
    lost-offset: -2/12;
    margin-right: 0 !important;
  }

  .auth-block:last-child {
    lost-offset: 2/12;
  }

  .divider {
    width: 1px;
    height: 272px;
    background: #3E3436;
  }

  .mobile-divider-block {
    display: none;
  }
}

@media (--small-only), (--medium-only) {
  .divider {
    display: none;
    margin: 0;
  }

  .mobile-divider-block {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      margin: 0 15px;
    }
  }

  .mobile-divider {
    height: 1px;
    position: relative;
    background: #3E3436;
    flex-grow: 1;
  }
}

@media (--medium-only) {
  .forms {
    flex-direction: column;
    margin-top: 195px;
    margin-bottom: 90px;

    &._without-banner {
      margin-top: 125px;
    }
  }

  .auth-block:first-child,
  .auth-block:last-child,
  .mobile-divider-block {
    lost-column: 6/12;
    lost-offset: -3/12;
  }

  .mobile-divider-block {
    margin: 50px 0;
  }
}

@media (--small-only) {
  .forms {
    flex-direction: column;
    padding: 0 20px;
    margin-top: 205px;
    margin-bottom: 90px;

    &._without-banner {
      margin-top: 100px;
    }
  }

  .auth-block:first-child,
  .auth-block:last-child {
    width: 100%;
  }
}
